.container {
  padding: 4px;
  height: 24px;
  border-radius: 100px;
  background-color: #2196f3;
  color: #ffffff;

  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    min-height: 18px;
    padding: 3px 6px 3px 6px;
  }
}
